<script>
  export let compact = undefined;
  export let position = undefined;

  import { getContext, onDestroy } from "svelte";
  import { mapKey } from "../context.js";
  import { omitUndefinedValues } from "../utils.js";

  const mapboxgl = window.maplibregl ?? window.mapboxgl;
  const { AttributionControl } = mapboxgl;

  const mapContext = getContext(mapKey);
  const map = mapContext.getMap();

  let slotRef;

  $: if (slotRef) {
    const customAttribution = slotRef.innerHTML;
    const options = omitUndefinedValues({ compact, customAttribution });
    const attributionControl = new AttributionControl(options);
    map.addControl(attributionControl, position);
    onDestroy(() => {
      map.removeControl(attributionControl);
    });
  }
</script>

<span bind:this={slotRef}>
  <slot />
</span>

<style>
  span {
    display: none;
  }
</style>
